<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- http://localhost:8088/ 주소로 요청이 온 경우
         webapp 아래에서 welcome-file 파일을 차례대로 찾습니다. -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- @WebServlet("*.net") 인 경우
         http://localhost:8088/list 로 입력하면 404오류 발생합니다.
         내가 만든 404 오류 페이지가 나오게 합니다. -->
    <error-page>
       <error-code>404</error-code>
        <location>/error/error404.jsp</location>
    </error-page>


    <!-- 필터 -->
    <!-- url-pattern : 적용될 URL 패턴 -->
    <!-- 로그인 상태 확인 -->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>net.filter.action.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/list.net</url-pattern>
        <url-pattern>/update.net</url-pattern>
        <url-pattern>/updateProcess.net</url-pattern>
        <url-pattern>/info.net</url-pattern>
        <url-pattern>/delete.net</url-pattern>
        <url-pattern>/logout.net</url-pattern>
    </filter-mapping>

    <!-- admin 계정이어야만 하는 경우 -->
    <filter>
        <filter-name>forbiddenFilter</filter-name>
        <filter-class>net.filter.action.ForbiddenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>forbiddenFilter</filter-name>
        <url-pattern>/list.net</url-pattern>
        <url-pattern>/info.net</url-pattern>
        <url-pattern>/delete.net</url-pattern>
    </filter-mapping>
</web-app>