<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis2:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis2_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis2" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: jakarta.servlet.jsp.jstl:jakarta.servlet.jsp.jstl-api:3.0.0" />
          <element id="library" level="project" name="Maven: jakarta.el:jakarta.el-api:5.0.0" />
          <element id="library" level="project" name="Maven: org.glassfish.web:jakarta.servlet.jsp.jstl:3.0.1" />
          <element id="library" level="project" name="Maven: com.oracle.database.jdbc:ojdbc6:11.2.0.4" />
          <element id="library" level="project" name="Maven: com.oracle.database.jdbc:ucp:11.2.0.4" />
          <element id="library" level="project" name="Maven: com.oracle.database.security:oraclepki:11.2.0.4" />
          <element id="library" level="project" name="Maven: com.oracle.database.security:osdt_cert:11.2.0.4" />
          <element id="library" level="project" name="Maven: com.oracle.database.security:osdt_core:11.2.0.4" />
          <element id="library" level="project" name="Maven: com.oracle.database.ha:simplefan:11.2.0.4" />
          <element id="library" level="project" name="Maven: com.oracle.database.ha:ons:11.2.0.4" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.13" />
          <element id="library" level="project" name="Maven: org.webjars:bootstrap:5.3.3" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-core:2.11.0" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.11.0" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="mybatis2/web/Web" />
    </root>
  </artifact>
</component>