html,
body {
  margin: 0;
  height: 100%;
}

header {
  background-color: #808000a8;
  height: 3rem; /* html 요소 font-size의 3배 = 48px */
  line-height: 3rem;
  text-align: center;
}

nav {
  background: olive;
  height: 50px;
}

nav > ul {
  /* ul이 갖고 있는 기본 여백을 없애요 */
  margin: 0;
  width: 500px; /* 화면이 축소가 되더라도 고정 길이 유지 */
}

nav > ul > li {
  display: inline;
  list-style-type: none; /* 마커 삭제 */
  padding: 0px 15px;
}

nav > ul > li > a {
  color: white;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none; /* 밑줄 없애요 */
}

nav > ul > li > a:hover {
  color: #ffc107; /* 마우스 올릴 때 색상 */
}

article p::before {
  content: '▶';
}

aside {
  float: right;
  width: 40px;
  background: lime;
  height: calc(100% - 3rem - 50px - 50px);
  font-size: 2rem;
}

aside > ul > li {
  list-style-type: circle;
}

article {
  float: right;
  width: 60%;
  background: orange;
  padding: 0px 5%;
  height: calc(100% - 148px); /* html문서가 갖는 높이에서 header(48px), nav(50px), footer(50px)를 뺍니다. */
  box-sizing: border-box; /* padding값 포함 width가 60%가 될 수 있도록 box-sizing 속성을 변경합니다. */
}

footer {
  clear: both;
  text-align: center;
  background: green;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
