<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=	"http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- bean 생성합니다. -->
  <bean id="m" class="com.naver.myhome1.sample3.MessageBeanEn"/>

  <bean id="m1" class="com.naver.myhome1.sample3.MessageBeanKo"/>

  <bean id="m2" class="com.naver.myhome1.sample4.MessageBeanImpl">
    <constructor-arg>
        <value>Spring</value>
    </constructor-arg>

    <property name="greeting">
      <value>안녕하세요!</value>
    </property>
  </bean>

  <bean id="m3" class="com.naver.myhome1.sample5.MessageBeanImpl">
    <constructor-arg>
      <value>Spring</value>
    </constructor-arg>
    <property name="greeting">
      <value>Hello!</value>
    </property>
    <property name="outputter">
      <ref bean="outputter"/>
    </property>
  </bean>

  <bean id="outputter" class="com.naver.myhome1.sample5.FileOutputter">
    <property name="filePath">
      <value>out2.txt</value>
    </property>
  </bean>
</beans>